
<main>
  <h2>Admin Log in</h2>

<%= flash[:error] %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>  

<%= render "devise/shared/error_messages", resource: resource %>
<%= yield %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", {class: 'btn my-custom-button'}  %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</main>