<main>
  <div id="users">
    <table class="table">
    <thead class="text-align: center;">
      <tr style="color: #6C5423;">
        <th class="image-column">イメージ</th>
        <th class="title-column">イベント名</th>
        <th class="text-column">内容</th>
        <th class="date-column">投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>     
      <tr>
        <td class="image-column">
          <%=link_to(post_path(post.id)) do %>
            <%= image_tag post.get_post_image, size: "100x100" %>
           <% end %>
        </td>
        <td class="title-column">
          <%= link_to post_path(post.id) do %>
            <span style="color: #e0a019;"><%= post.title %></span>
          <% end %>
        </td>
        <td class="text-column">
          <div class = "show-post-body", style="color: #6C5423;">
           <%= post.body %>
          </div>
        </td>
        <td class="date-column", style="color: #6C5423;">
          <%= post.created_at.strftime('%Y/%m/%d')%>
        </td>
       </tr>
    </tbody>
    <% end %>
  </table>
        
  <%= paginate @posts %>
  </div>
</main>