<main>
<div id="users">
<div class="container vh-100">
  <div class="row">
    <div class="sidebar_fixed, col-sm-3">
      <div class="row, mt-3, text-center">
        <h4><%= @user.name %></h4><br>
      </div>
      <div class="row, m-5, text-center">
        <%= image_tag @user.get_profile_image %>
      </div>
      <div class="row, mt-5, text-center">
        <p><br><%= @user.introduction %><br></p>
      </div>
      <div class="row, mt-3, text-center">
        <% if @user == current_user %>
          <a class="btn my-custom-button" href="/users/:id/edit" role="button">プロフィール編集</a>
        <% end %>
      </div>
      <div class="row, mt-3, text-center">
      <br>
        <% if user_signed_in? && @user == current_user %>
        <%= link_to "退会", confirm_unsubscribe_path(@current_user), class: "my-custum-link" %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3">
      <h3>最近の投稿　(3件)</h3>
      <div class="card-deck">
        <% @posts.each do |post| %>
          <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-lg">
              <div class="card-header text-center" style="color: #e0a019; background-color=white;">
                <i class="fa-solid fa-thumbtack"></i>
              </div>
              <div class="mx-auto mt-2">
                <%=link_to(post_path(post.id), class: "text-dark") do %>
                  <%= image_tag post.get_post_image, size: "200x200", class: "card-img-top"; %>
                <% end %>
              </div>
              <div class="card-body">
                <p class="card-title text-left">
                <%=link_to(post_path(post.id)) do %>
                  <strong><span style="color: #a17e38;"><i class="fa-solid fa-thumbtack"></i><%= post.title %></span></strong>
                <% end %>
                </p>
                <p class="card-text text-left" style="color: #82652a;"><%= post.body %></p>
              </div>
              <div class="card-footer">
                <p>コメント数：<%= post.post_comments.count %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div><br><br>

      <h3>最近のコメント</h3>
      <div class="row">
        <div class="mx-auto offset-lg-2">
          <table class="table mt-5">
            <thead>
            <tr>
              <th class="comment-body">コメント</th>
              <th Class="comment-day">日時</th>
              <th class="comment-shortcut"></th>
            </tr>
            </thead>
            <tbody>
            <% @latest_comments.each do |post_comment| %>
              <tr>
                <td class="comment-body"><%= post_comment.comment %></td>
                <td Class="comment-day"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                <td class="comment-shortcut"><%= link_to "投稿を見る", post_path(post_comment.post), class:"btn btn-sm my-custom-button" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</main>
