<main>
<h2>編集画面</h2>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: update_post_path(@post.id), method: :patch do |f| %>
  <br>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <br>
  <p>本文</p>
  <%= f.text_area :body %>
  <br>
    <p>画像</p>
  <%= f.file_field :post_images, multiple: true %> 
  <br><br>
  <%= f.submit '更新', {class: 'btn my-custom-button'} %>
<% end %>
</main>