<main>
<h3>編集画面</h3>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: update_post_path(@post.id), method: :patch do |f| %>
  <br>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <br>
  <p>本文</p>
  <%= f.text_area :body, style: "width:40%", rows: "3" %>
  <br><br>
    <p>画像</p>
  <%= f.file_field :post_images, multiple: true %> 
  <br><br>
  <%= f.submit '更新', {class: 'btn my-custom-button'} %>
  <%= link_to '削除', post_path(@post), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>

<% end %>
</main>