<main>
<div class="base-container">
<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h2>投稿一覧</h2>
    <br>
    <div class="container">
    <div class="row justify-content-center">
    <div class="card-deck">

<% @posts.each do |post| %>
  <div class="col-12 col-md-6 col-lg-4">
  <div class="card m-5" style="width: 18rem;">
  <div class="mx-auto">
  <%=link_to(post_path(post.id), class: "text-dark") do %>
    <% if post.post_images.attached? %>
      <% @post.post_images.each do |image| %>
       <%= image_tag post.post_images, size: "200x200" %>
      <% end %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  <% end %>
    </div>
    <div class="card-body d-flex align-items-center">
    <div class="row">
      <div class="col-2">
      <%=link_to(user_path(post.user_id)) do %>
        <%= image_tag post.user.get_profile_image, size: "50x50", class: "mt-3 rounded-circle"; %>
      <% end %>
        </div>
      <div class="col-1">
      </div>
      <div class="col-8">
      <p class="card-title text-left">
      <%=link_to(post_path(post.id), class: "text-dark") do %>
        <strong><span> <%= post.title %></span></strong>
      <% end %>
       </p>
          <p class="card-text text-left"><%= post.body %></p>
        <%=link_to(user_path(post.user_id)) do %>
          <span><i class="fas fa-user"></i> By <%= post.user.name %></span>
        <% end %>
          </div>
          </div>
          </div>
        </div>
        </div>
          <% end %>
</div>
</div>
</div>
</div>
</div>
          <%= paginate @posts %>
   </div>
</main>