<main>
  <h3>投稿フォーム</h3>
  <div>
    <%= render "devise/shared/error_messages", resource: @post %>
  </div>

  <div>
    <%= form_with model: @post do |f| %>
      <p>タイトル</p>
      <%= f.text_field :title %><br>
      <br>
      <div class="form-label text-align">
        <p>本文</p>
        <%= f.text_area :body, style: "width:40%", rows: "3" %>
      </div><br>
      <p>画像</p>
      <p><%= f.file_field :post_image, placeholder: "投稿画像", accept: "image/*"  %><br><br></p>
      <%= f.submit '投稿', {class: 'btn my-custom-button'} %>
    <% end %>
  </div>
</main>