<!DOCTYPE html>
<html>
<head>
  <title>Admin - Anniv.Note</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  <script src="https://kit.fontawesome.com/ffdbf495c1.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Kosugi&family=Metamorphous&family=Pacifico&family=Sawarabi+Gothic&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
      <nav class="fixed-top navbar navbar-expand-lg navbar-light" style="background-color: #ECD5B6"> 
        <div class="container-fluid" >
          <a class="navbar-brand" href="/"><strong><h1 style="color: #6C5423;">Anniv.Note</h1></strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <% if admin_signed_in? %>
                  <li class="nav-item p-4">
                    <%= link_to admin_dashboards_path do %>
                      <i class="fa-solid fa-users" style="color: #423210;">  ユーザー一覧</i>
                    <% end %>
                  </li>
                  <li class="nav-item p-4">
                    <%= link_to admin_post_comments_path do %>
                      <i class="fa-solid fa-comment-dots" style="color: #423210;">  コメント一覧</i>
                    <% end %>
                  </li>
                  <li class="nav-item p-4">
                    <%= link_to admin_groups_path do %>
                      <i class="fa-solid fa-people-roof" style="color: #423210;">  グループ</i>
                    <% end %>
                  </li>
                  <li class="nav-item p-4">
                    <%= link_to destroy_admin_session_path, method: :delete do %>
                      <i class="fa-solid fa-right-from-bracket" style="color: #423210;">  ログアウト</i>
                    <% end %>
                  </li>

                              
                <% else %>
                  <li class="nav-item p-4">
                    <%= link_to root_path do %>
                      <i class="fa-solid fa-hat-wizard" style="color: #423210;">  トップ</i>
                    <% end %>
                  </li>
                  <li class="nav-item p-4">
                    <%= link_to about_path do %>
                      <i class="fas fa-link" style="color: #423210;">  このサイトについて</i>
                    <% end %>  
                  </li>
                  <li class="nav-item p-4">
                    <%= link_to posts_path style="color: #423210;" do %>
                      <i class="fa-solid fa-cake-candles" style="color: #423210;">  みんなの記念日</i>
                    <% end %>
                  </li>
                  <li class="nav-item p-4">
                  <%= link_to new_user_registration_path do %>
                    <i class="fas fa-user" style="color: #423210;">  ユーザー登録</i>
                  <% end %>
                  </li>
                  <li class="nav-item p-4">
                    <%= link_to new_user_session_path do %>
                      <i class="fa-solid fa-right-to-bracket" style="color: #423210;">  ユーザーログイン</i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <div>
            <%= render 'searches/form' %>
          </div>  
        </div>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>


    <div class="fixed-bottom text-right" style="background-color: #ECD5B6">
      <a class="btn" href="#top" role="button" style="color: #423210"><i class="fa-regular fa-circle-up"></i>ページ上に戻る</a>
    </div>
    <div class="fixed-bottom text-left">
      <%= link_to new_admin_session_path do %>
        <i class="fa-solid fa-right-to-bracket" style="color: #423210;">  管理者ログイン</i>
      <% end %>
    </div>

</body>
</html>